<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card>

            <ion-img src="assets/imgs/codeforiraq.jpg" ></ion-img>
            <ion-card-content>
              <h2 style="font-size:170% " ><b >
                البرمجة من أجل العراق Code for Iraq </b></h2>
                        <br>
                            </ion-card-content>
                
                       <ion-card-content dir="rtl">
                        <p>البرمجة من اجل العراق: وهي مبادرة إنسانية غير ربحية تهدف الى خدمة المجتمع عن طريق البرمجة Programming.
                          تعتبر "Code For IRAQ" مبادرة تعليمية حقيقية ترعى المهتمين بتعلم تصميم وبرمجة تطبيقات الهاتف الجوال ومواقع
                          الانترنت وبرامج الحاسوب والشبكات والاتصالات ونظم تشغيل الحاسوب باستخدام التقنيات مفتوحة المصدر Open Source
                          ، كما توفر لهم جميع الدروس التعليمية اللازمة وبشكل مجاني تماماً.
                        </p>
                    <br><br>
  <h4><b>email code for iraqللمزيد من المعلومات   </b></h4>
  <a href="http://codeforiraq.org">https://codeforiraq.org/</a>

  </ion-card-content>


          </ion-card>

   <ion-card>
            <ion-img src="assets/imgs/girl.jpg" ></ion-img>
            <ion-card-content>
                <h2 style="font-size:170%"><b>Developer:Tuqa Najah</b></h2>
            </ion-card-content>

          </ion-card>


<br>

<br><br>

</ion-content>