<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content padding >

<br><br>

<div class="ccard" align="center">
  <div class="container">
  <br>
    <h4><b>المطاعيم</b></h4> 
    <p>

      تُعرّف المطاعيم أو اللقاحات (بالإنجليزية: Vaccines) على أنّها مستحضرات بيولوجيّة تحسن مناعة الجسم ضد مرض معيّن، وتحتوي المطاعيم عادةً على العامل المسبب للمرض، ويتمّ غالباً تحضير المطاعيم من جراثيم ميّتة أو مضعّفة، أو من السموم التي تنتجها هذه الجراثيم، أو من خلال البروتينات السطحيّة للجراثيم، ويقوم مبدأ عمل المطاعيم على تحفيز جهاز المناعة للتعرّف على العامل المسبب للمرض كجسم غريب ليتمّ القضاء عليه من قِبَل الجهاز المناعيّ، وتخزين هذه المعلومات لتسهيل عمليّة التعرّف والقضاء على الجسم الغريب في حال عودة دخوله إلى الجسم مرة أخرى.

     

    </p>
 </div>
</div>





<br>

<div class="cardd" align="center">
  <div class="containerr">
  <br>
    <h4><b>معلومات عالمية عن القاحات </b></h4> 
    

<ul dir="rtl" >
<li>اللقاح السداسي الخلوي يتألف من اللقاحات الاتية ( لقاح توكسيد الكزاز + لقاح الخناق + لقاح السعال الديكي + لقاح المستدمية النزلية + لقاح التهاب الكبد الفايروسي نمط ب + لقاح شلل الأطفال الزرقي ) و يعطى للطفل بثلاث جرع بعمر ( 2 و 4 و 6 ) اشهر . </li>
<li> اللقاح الخماسي اللاخلوي يتألف من اللقاحات الاتية ( لقاح توكسيد الكزاز + لقاح الخناق لقاح السعال الديكي + لقاح المستدمية النزلية + لقاح شلل الأطفال الزرقي ) و يعطى للطفل بعمر 18 شهر .</li>
<li> اللقاح الرباعي الخلوي يتألف من اللقاحات الاتية ( لقاح توكسيد الكزاز + لقاح الخناق + لقاح السعال الديكي + لقاح شلل الأطفال المقتول ) و يعطى للطفل بعمر ( 4 - 6 ) سنة ز </li>
<li> لقاح الفايروس العجلي الدوار لا يعطى للطفل اذا تعدى عمره 3 اشهر ولم ياخذ أي جرعة منه سابقا و كذلك لا يعطى اذا تعدى عمر الطفل ثمانية أشهر ولم يكمل كل الجرعة المقررة له ولذلك يجب الالتزام بمواعيد التلقيح لهذا اللقاح لضمان عدم حرمان الطفل من فائدة هذا اللقاح المهم .</li>
<li>لقاح الحصبة المختلطة يتالف من لقاحات ( الحصبة المنفردة + الحصبة الالمانية + النكاف ) و يعطى للطفل بجرعتين بعمر ( 15 شهر - 6 - 4 سنة ) . </li>
<li>في حالة عدم ظهور الندية في كتف الطفل الايسر بعد التلقيح بلقاح ال بي سي جي بعد مرور شهرين من موعد التلقيح فانه يتم اعادة التلقيح و لمرة واحدة فقط .</li>
<li> لا يعطى لقاح ال بي سي جي للطفل بعد مرور سنة واحدة من عمره و لم يتم تلقيحه بهذا اللقاح لعدم استفادة جسم الطفل منه و عليه يجب الاسراع بتلقيح الطفل بعد الاسبوع الأول من الولادة مباشرة .</li>
</ul>

  </div>
</div>



</ion-content>