<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content dir="rtl">
 
    
    <ion-list >
  <ion-item-sliding *ngFor="let baby of myObject ">
    <ion-item >
    <!--  <ion-thumbnail item-start >
           <img src='assets/imgs/img1.jpg'>
       
      </ion-thumbnail>
         <br>
		 -->
		 <ul class="demo"  >
  <li> اسم الطفل  :  {{ baby[1]['name']}}</li>
  <li>تاريخ الولادة  :  {{baby[1]['age']}}</li>
  
  <li>

<table style="width:100%">
 <tr>
   <td>اللقاح</td>
   <td>عمر التلقيح</td>
   <td>تاريخ التلقيح</td>
 </tr>
  <tr>
    <td>لقاح بي سي جي(بعد اسبوع من الولادة)/لقاح التهاب الكبد الفايروسي نمط ب  *الجرعة الاولى/لقاح شلل الاطفال الفموي (بعد اسبوع من الولادة) *جرعة الصفر</td>
    <td>خلال الاسبوع الاول بعد الولادة</td>
    <td>{{baby[1]['d1']}}</td>
  </tr>
  <tr>
    <td> لقاح شلل الاطفال الفموي *الجرعة الاولى/للقاح الفايروسي الدوار *الجرعة الاولى/اللقاح السداسي الاخلوي *الجرعة الاولى/لقاح المكورات الرئوية المتقرن *الجرعة الاولى </td>
    <td>عمر شهرين</td>
    <td>{{baby[1]['d2']}}</td>
  </tr>
  <tr>
    <td>لقاح شلل الاطفال الفموي *الجرعة الثانية/اللقاح الفايروسي الدوار *الجرعة الثانية/اللقاح السداسي الاخلوي *الجرعة الثانية/لقاح المكورات الرئوية المتقرن *الجرعة الثانية</td>
    <td>عمر اربعة اشهر</td>
    <td>{{baby[1]['d3']}}</td>
  </tr>
  <tr>
    <td>لقاح شلل الاطفال الفموي *الجرعة الثالثة/اللقاح الفايروسي الدوار *الجرعة الثالثة/اللقاح السداسي الاخلوي *الجرعة الثالثة/لقاح المكورات الرئوية المتقرن *الجرعة الثالثة</td>
    <td>عمر ستة اشهر</td>
    <td>{{baby[1]['d4']}}</td>
  </tr>
  <tr>
    <td>فيتامين A مئة وحدة عالمية /لقاح الحصبة المنفردة </td>
    <td>عمر تسعة اشهر</td>
    <td>{{baby[1]['d5']}}</td>
  </tr>
  <tr>
    <td>لقاح الحصبة المختلطة</td>
    <td>عمر خمسة عشر شهرا</td>
    <td>{{baby[1]['d6']}}</td>
  </tr>
  <tr>
    <td>لقاح شلل الاطفال الفموي *الجرعة المنشطة الاولى/اللقاح الخماسي الاخلوي *الجرعة المنشطة الاولى/فيتامين A مائتين الف وحدة عالمية</td>
    <td>عمر ثمانية عشر شهرا</td>
    <td>{{baby[1]['d7']}}</td>
  </tr>
  <tr>
 <td>لقاح شلل الاطفال الفموي *الجرعة المنشطة الثانية/اللقاح الرباعي الاخلوي *الجرعة المنشطة الثانية/لقاح الحصبة المختلطة MMR *الجرعة المنشطة الثانية/فيتامين A مائتين الف وحدة عالمية</td>
    <td>عمر اربعة - ستة سنوات</td>
    <td>{{baby[1]['d8']}}</td>
  </tr>
</table>

  </li>
 
       <!-- <ion-note>User ID : {{baby.$key}} </ion-note> -->
     
      <button ion-button class="button daletbutton" (click)="deletecard(baby[0])"  >
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        حذف
      </button>
    </ul> 
	 

   


  </ion-item>
  </ion-item-sliding>
</ion-list>




</ion-content>
